.modal-warning-info {
    .ant-modal-content {
      border-radius: 10px;
    }
  
    .ant-modal-header {
      border-bottom: none;
      padding: 20px 24px;
      background-color: #f0f2f5;
  
      h2 {
        margin: 0;
        text-align: center;
      }
    }
  
    .ant-modal-body {
      padding: 20px;
    }
  
    .warning-item {
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 5px 0;
      font-size: 25px;
    }
  }
  