.main {
  display: flex;
  width: 80vw;
  height: 100vh;
  border: 1px solid black;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  width: 80vw;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  margin-left: 0.5vw;
}
.userName {
  margin: 0;
}

.searchNonVisable {
    visibility: hidden;
    width: 86vw;
    align-items: center;
  }
.search {
  display: flex;
  width: 86vw;
  align-items: center;
}
.findButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 100%;
}
.messages {
    height: calc(100vh - 5vh - 5vh);
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
  }
.newMessageInput {
  display: flex;
  width: 80vw;
  height: 5vh;
  align-items: end;
}
